@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Test page</h1>
    @using(Html.BeginForm("Create", "Test", FormMethod.Post))
    {
        <label>
            Your name: 
            <input type="text" name="Name">
        </label>
        <br />
        <label>
            Your age:
            <input type="number" name="Age">
        </label>
        <br />
        <label>
            Your date of birthday:
            <input type="date" name="Birthday">
        </label>
        <br />
        <input type="submit" value="Send form">
    }
</div>
